<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section id="vueContainer">
    <ul>
        <li v-for="item in names">{{item}}</li>
    </ul>
    <input type="text" v-model="tempName">
    <button @click="addName(tempName)">添加</button>
    <button @click="deleteName(tempName)">删除</button>
    <button @click="updateName(tempName)">修改</button>
</section>
<script src="../lib/vue.min-2.4.0.js"></script>
<script>
    let vue = new Vue({
        el: '#vueContainer',
        data: function () {
            return {
                names: ['zhangsan', 'lisi'],
                tempName: ''
            }
        },
        methods: {
            addName: function (name) {
                this.names.push(name);
            },
            deleteName: function (name) {
                let index = this.findName(name);
                index > -1 && this.names.splice(index, 1);
            },
            updateName: function (name) {
                // this.names.splice(0, 1, name);
                Vue.set(this.names,0,name);
            },
            findName: function (name) {
                for (let i = 0, item = {}, max = this.names.length; i < max; i++) {
                    item = this.names[i];
                    if (name === item) {
                        return i
                    }
                }
            }
        }
    });
</script>
</body>
</html>